<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_for @user do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :introduction %><br>
<%= f.text_field :introduction %><br>

<%= f.label :profile_image %><br>
<%= f.attachment_field :profile_image %><br>

<%= f.submit %>

<% end %>