
<!-- 
 <% @users.each do |user| %>
 <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
 <%= user.name %>

<% end %> -->


<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <div class="col-lg-4">

        <div class="row">
          <h2>User info</h2>
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>
          <%= @user.name %>
          <%= @user.introduction %>
          <%= link_to "edit", edit_user_path(@user) %>
          
          <% end %>

        </div>





