<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

<header>

<h4>Bookers</h4>
<% if user_signed_in? %>
  <%= link_to user_path(current_user), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
  <% end %>
  <%= link_to users_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-user" aria-hidden="true">Users</span>
  <% end %>
  <%= link_to books_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
  <% end %>

<% else %>
  <%= link_to root_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
  <% end %>
  <%= link_to home_about_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-expand" aria-hidden="true">about</span>
  <% end %>
  <%= link_to new_user_registration_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-new-window" aria-hidden="true">sign up</span>
  <% end %>
  <%= link_to new_user_session_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-log-in" aria-hidden="true">login</span>
  <% end %>

<% end %>

</header>

    <%= yield %>
  </body>
</html>
